rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /themes/{themeId} {
      allow read: if true;
      allow create, update: if request.auth != null;
      allow delete: if false;

      match /voters/{userId} {
        allow read: if false;
        allow create: if request.auth != null && request.auth.uid == userId;
        allow update, delete: if false;
      }
    }
  }
}
